<?xml version="1.0"?>
<launch>

<!-- blue side robot -->
  <group ns="blue_bot">
      <!-- enemy bot run -->
      <node pkg="onigiri_war" type="enemy.py" name="enemyRun" output="screen"/>　<!--敵：使う方をコメントアウト-->
  </group>
      <!--<include file="$(find onigiri_war)/launch/your_onigiri_blue_nongroup.launch" /> 自分：使う方をコメントアウト-->

<!-- red side robot -->
  <group ns="red_bot">
      <!-- Your robot control node run -->
      <!--<node pkg="onigiri_war" type="enemy.py" name="enemyRun" output="screen"/>　敵：使う方をコメントアウト-->
  </group>
      <include file="$(find onigiri_war)/launch/your_onigiri_red_nongroup.launch" />　<!--自分：使う方をコメントアウト-->

</launch>


